<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="/css/register_style.css"> 
</head>
<body>
    <div class="container">
        <h2>Đăng Ký</h2>
        <form th:action="@{/register}" method="post">
            <div class="form-group">
                <label for="username">Tên Người Dùng:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Mật Khẩu:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Đăng Ký</button>
            <p th:if="${successMessage}" class="success-message" th:text="${successMessage}"></p>
        </form>
    </div>
</body>
</html>
