<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="quenmatkhau.css" />
    <title>Quên Mật Khẩu</title>
  </head>

  <body>
    <div class="container1" id="container1">
      <div class=".forgot-container">
        <form action="#">
          <h1>Quên Mật Khẩu</h1>
          <p>Vui lòng nhập email để nhận liên kết đặt lại mật khẩu:</p>
          <input type="email" placeholder="Email" required />
          <button>Gửi Yêu Cầu</button>
          <span> <a href="index.html">Hoặc quay lại trang đăng Nhập</a></span>
        </form>
      </div>
    </div>
  </body>
</html>
